@import "./variables.scss";

.root {
    margin: 0;
    height: 100%;
    width: 100%;
}

.listOne {
    background-color: $color1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
    font-size: 2rem;
}

main {
    height: 70vh;
    width: 100vw;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100vw;
    height: 20vh;
    background-color: $color2;
}