nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;

    width: 100%;
    height: 7dvh;
    background-color: rgb(132, 132, 209);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;

    width: 100%;
    height: 7dvh;
    background-color: rgb(132, 132, 209);
}